# GOOGL stock 'Close' value prediction

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import datetime
import math, time
import itertools
from sklearn import preprocessing
import datetime
from operator import itemgetter
from sklearn.metrics import mean_squared_error
from math import sqrt

from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.layers.recurrent import LSTM

import tushare as ts

Using TensorFlow backend.

## Stock data function configured to drop all columns except 'Open','High' and 'Close'

In [ ]:
def get_stock_data(stock_name, normalized=0):
    url="http://www.google.com/finance/historical?q="+stock_name+"&startdate=Jul+12%2C+2013&enddate=Jul+11%2C+2017&num=30&ei=rCtlWZGSFN3KsQHwrqWQCw&output=csv"
#     url="http://www.google.com/finance/historical?q=%s&ei=u-lHWfGPNNWIsgHHqIqICw&output=csv" % stock_name 


    col_names = ['Date','Open','High','Low','Close','Volume']
    stocks = pd.read_csv(url, header=0, names=col_names) 
    df = pd.DataFrame(stocks)
    df.drop(df.columns[[0,3,5]], axis=1, inplace=True) 
    return df

## Loading GOOGL stock data from yahoo.com

In [3]:
df = ts.get_hist_data('000001')
# df.to_csv('test.csv')
# stock_name = 'GOOGL'
# df = get_stock_data(stock_name,0)
df.drop(df.columns[[-1]], axis=1, inplace=True)
df.tail()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2015-01-06,15.85,16.39,15.78,15.55,2166421.50,-0.24,-1.50,15.612,15.612,15.612,2475830.10,2475830.10,2475830.10
2015-01-05,15.99,16.28,16.02,15.60,2860436.50,0.18,1.14,15.570,15.570,15.570,2553182.25,2553182.25,2553182.25
2014-12-31,15.61,15.88,15.84,15.30,2400065.75,0.34,2.19,15.420,15.420,15.420,2450764.17,2450764.17,2450764.17
2014-12-30,14.93,15.59,15.50,14.87,2366078.50,0.58,3.89,15.210,15.210,15.210,2476113.38,2476113.38,2476113.38
2014-12-29,15.61,16.05,14.92,14.75,2586148.25,-0.18,-1.19,14.920,14.920,14.920,2586148.25,2586148.25,2586148.25

## Saving the data to a file for a future use

In [ ]:
today = datetime.date.today()
file_name = stock_name+'_stock_%s.csv' % today
df.to_csv(file_name)

In [5]:
df = pd.read_csv('test.csv')
df['high'] = df['high'] / 1000
df['open'] = df['open'] / 1000
df['close'] = df['close'] / 1000
df.head(5)

,date,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
0,2017-12-22,0.01350,0.01363,0.01352,13.45,742900.94,-0.02,-0.15,13.270,13.172,13.258,1307551.39,1393431.41,1491215.90,0.44
1,2017-12-21,0.01318,0.01368,0.01354,13.16,1485203.50,0.28,2.11,13.110,13.129,13.310,1378961.70,1454272.81,1585580.33,0.88
2,2017-12-20,0.01320,0.01331,0.01326,13.13,1106245.00,-0.02,-0.15,13.002,13.058,13.350,1282320.60,1423948.25,1632777.26,0.65
3,2017-12-19,0.01279,0.01332,0.01328,12.74,2397943.00,0.53,4.16,12.976,13.040,13.442,1318921.22,1475308.25,1705976.58,1.42
4,2017-12-18,0.01273,0.01291,0.01275,12.64,805464.50,0.03,0.24,12.924,13.042,13.501,1188013.77,1407882.08,1710845.82,0.48

In [4]:
print type(df)

<class 'pandas.core.frame.DataFrame'>

In [6]:
df.drop(['date'],axis=1,inplace=True)
df.drop(['low'],axis=1,inplace=True)
df.drop(['volume'],axis=1,inplace=True)
df.drop(['price_change'],axis=1,inplace=True)
df.drop(['ma5'],axis=1,inplace=True)
df.drop(['ma10'],axis=1,inplace=True)
df.drop(['ma20'],axis=1,inplace=True)
df.drop(['v_ma10'],axis=1,inplace=True)
df.drop(['v_ma5'],axis=1,inplace=True)
df.drop(['v_ma20'],axis=1,inplace=True)
df.drop(['p_change'],axis=1,inplace=True)
df.drop(['turnover'],axis=1,inplace=True)
df.head(5)

      open     high    close
0  0.01350  0.01363  0.01352
1  0.01318  0.01368  0.01354
2  0.01320  0.01331  0.01326
3  0.01279  0.01332  0.01328
4  0.01273  0.01291  0.01275

## Updated load_data function from lstm.py, configured to accept any amount of features.
## It is set to calculate the last feature as a result.

In [7]:
def load_data(stock, seq_len):
    amount_of_features = len(stock.columns)
    data = stock.as_matrix() #pd.DataFrame(stock)
    sequence_length = seq_len + 1
    result = []
    for index in range(len(data) - sequence_length):
        result.append(data[index: index + sequence_length])

    result = np.array(result)
    row = round(0.9 * result.shape[0])
    train = result[:int(row), :]
    x_train = train[:, :-1]
    y_train = train[:, -1][:,-1]
    x_test = result[int(row):, :-1]
    y_test = result[int(row):, -1][:,-1]

    x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], amount_of_features))
    x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], amount_of_features))  

    return [x_train, y_train, x_test, y_test]

## Building model functions

In [8]:
def build_model(layers):
    model = Sequential()

    model.add(LSTM(
        input_dim=layers[0],
        output_dim=layers[1],
        return_sequences=True))
    model.add(Dropout(0.2))

    model.add(LSTM(
        layers[2],
        return_sequences=False))
    model.add(Dropout(0.2))

    model.add(Dense(
        output_dim=layers[2]))
    model.add(Activation("linear"))

    start = time.time()
    model.compile(loss="mse", optimizer="rmsprop",metrics=['accuracy'])
    print("Compilation Time : ", time.time() - start)
    return model

def build_model2(layers):
        d = 0.2
        model = Sequential()
        model.add(LSTM(128, input_shape=(layers[1], layers[0]), return_sequences=True))
        model.add(Dropout(d))
        model.add(LSTM(64, input_shape=(layers[1], layers[0]), return_sequences=False))
        model.add(Dropout(d))
        model.add(Dense(16,init='uniform',activation='relu'))        
        model.add(Dense(1,init='uniform',activation='relu'))
        model.compile(loss='mse',optimizer='adam',metrics=['accuracy'])
        return model

## Setting X and Y for training and testing

In [9]:
window = 5
X_train, y_train, X_test, y_test = load_data(df[::-1], window)
print("X_train", X_train.shape)
print("y_train", y_train.shape)
print("X_test", X_test.shape)
print("y_test", y_test.shape)

('X_train', (656, 5, 3))
('y_train', (656,))
('X_test', (73, 5, 3))
('y_test', (73,))

## Loading the model sequence structure

In [10]:
# model = build_model([3,lag,1])
model = build_model2([3,window,1])

/Library/Python/2.7/site-packages/ipykernel/__main__.py:31: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(16, activation="relu", kernel_initializer="uniform")`
/Library/Python/2.7/site-packages/ipykernel/__main__.py:32: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="relu", kernel_initializer="uniform")`

## Executing the model & RMS/RMSE results

In [11]:
model.fit(
    X_train,
    y_train,
    batch_size=512,
    nb_epoch=500,
    validation_split=0.1,
    verbose=0)

/Library/Python/2.7/site-packages/keras/models.py:939: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

In [12]:
trainScore = model.evaluate(X_train, y_train, verbose=0)
print('Train Score: %.6f MSE (%.6f RMSE)' % (trainScore[0], math.sqrt(trainScore[0])))

testScore = model.evaluate(X_test, y_test, verbose=0)
print('Test Score: %.6f MSE (%.6f RMSE)' % (testScore[0], math.sqrt(testScore[0])))

Train Score: 0.000000 MSE (0.000468 RMSE)
Test Score: 0.000000 MSE (0.000565 RMSE)

In [13]:
# print(X_test[-1])
diff=[]
ratio=[]
p = model.predict(X_test)
for u in range(len(y_test)):
    pr = p[u][0]
    ratio.append((y_test[u]/pr)-1)
    diff.append(abs(y_test[u]- pr))
    #print(u, y_test[u], pr, (y_test[u]/pr)-1, abs(y_test[u]- pr))

In [15]:
print p[-1]
print p[-2]

if p[-1] < p[-2]:
    print -1
else:
    print 1

[ 0.01278514]
[ 0.01280309]
-1

## Predictions vs Real results

In [ ]:
import matplotlib.pyplot as plt2

plt2.plot(p,color='red', label='prediction')
plt2.plot(y_test,color='blue', label='y_test')
plt2.legend(loc='upper left')
plt2.show()